{% extends "blog/base.html" %}

{% block title %} My Blog {% endblock title %}


{% block content %}


<div class="card m-3 ">
    <div class="card-header  shadow p-3 mb-5 bg-white rounded">
        <h1>My Blog</h1>
    </div>
    <div class="card-body ">
        {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h2>

        <p class="date">
            Published{{ post.publish }} by {{ post.author }}
        </p>

        {{ post.body| truncatewords:30|linebreaks }}
        {% endfor %}
    </div>
</div>

{% include "blog/pagination.html" with page=posts %}
{% endblock content %}